body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.profile-container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}


/* ...otros estilos... */

.logout-button,
.change-password-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border-radius: 4px;
    text-decoration: none;
}

.change-password-button {
    background-color: #28a745;
    /* Un color distinto para diferenciarlo */
}

.logout-button:hover,
.change-password-button:hover {
    opacity: 0.8;
}